[project]
name = "fast-api-tutorials"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "alembic>=1.17.2",
    "pytest>=9.0.2",
    "pytest-asyncio>=1.3.0",
]
